body {
background: #265186;
font: 10px Verdana, Arial, Helvetica, sans, sans serif;
}
#wrapper {
width: 100%;
}
#bar {
background: #FFE600;
height: 4px;
border-color: #000;
border-width: 1px;
}
.topbar {
height: 4px;
border-color: #000;
border-width: 1px;
background: #888888
}
.bottombar {
height: 4px;
border-color: #000;
border-width: 1px;
background: #ffd400
}
#mtop {
border-color: #000;
border-width: 1px;
border-left-style: solid;
border-right-style: solid;
height: 25px;
background: url(/editor/images/header_bg.png);
}
#body {
margin-top: 12px;
width: 100%;
}
#nav {
float: left;
width: 20%;
margin-right: 1%;
}
.boxtop {
background: #ffd400;
border-color: #000;
border-width: 1px;
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
text-align: center;
color: #000;
padding-top: 1px;
padding-bottom: 1px;
font: 10px Verdana, Arial, sans, sans serif;
}
.boxbottom {
background: #888888;
border-color: #000;
border-width: 1px;
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: none;
text-align: left;
padding-top: 1px;
padding-left: 10px;
padding-bottom: 1px;
margin-bottom: 18px;
font: 10px Verdana, Arial, sans, sans serif;
}
.tabletop {
background: #ffd400;
border-color: #000;
border-width: 1px;
border-left-style: none;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: solid;
text-align: center;
padding-top: 1px;
padding-left: 1px;
padding-bottom: 1px;
margin-bottom: 18px;
font: 10px Verdana, Arial, sans, sans serif;
font-weight: bold;
}
.tablebottom, #complete {
background: #888888;
border-color: #000;
border-width: 1px;
border-left-style: none;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: none;
text-align: center;
padding-top: 1px;
padding-left: 1px;
padding-bottom: 1px;
margin-bottom: 18px;
font: 10px Verdana, Arial, sans, sans serif;
}
/*COMPLETE CSS*/
#complete, #complete a:link {
background: #F0ACB8!important;
color:#000!important;
}
.header {
background: #888888;
border-color: #000;
border-width: 0px;
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: none;
text-align: left;
font-weight: bold;
padding-top: 1px;
padding-left: 10px;
padding-bottom: 1px;
margin-bottom: 18px;
font: 10px Verdana, Arial, sans, sans serif;
font-weight: bold;
}
.content {
background: #888888;
border-color: #000;
border-width: 0px;
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: none;
text-align: left;
padding-top: 1px;
padding-left: 10px;
padding-bottom: 1px;
margin-bottom: 18px;
font: 10px Verdana, Arial, sans, sans serif;
}
.title1 {
background: #888888;
border-color: #000;
border-width: 0px;
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: none;
text-align: left;
color: #000;
padding-top: 1px;
padding-left: 0px;
padding-bottom: 1px;
margin-bottom: 18px;
font: 15px Verdana, Arial, sans, sans serif;
font-weight: bold;
}
.title2 {
background: #888888;
border-color: #000;
border-width: 0px;
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: none;
text-align: left;
color: #000;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 1px;
margin-bottom: 0px;
font: 13px Verdana, Arial, sans, sans serif, bold;
font-weight: bold;
}
.title3 {
background: #888888;
border-color: #000;
border-width: 0px;
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: none;
text-align: left;
color: #000;
padding-top: 0px;
padding-left: 0px;
padding-bottom: 1px;
margin-bottom: 0px;
font: 11px Verdana, Arial, sans, sans serif, bold;
font-weight: bold;
}
.quote {
background: #888888;
border-color: #000;
border-width: 0px;
border-left-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-top-style: none;
text-align: left;
padding-top: 1px;
padding-left: 10px;
padding-bottom: 1px;
margin-bottom: 18px;
font: 10px Verdana, Arial, sans, sans serif, italic;
}
.boxbottom ul {
margin: 0;
list-style: none;
text-align: left;
padding-left: 0px;
}
.boxbottom li {
margin: 0;
}
a {
color: #000;
text-decoration: none;
}
a:hover {
color: #000;
text-decoration: underline;
}
#content {
float: right;
width: 78%;
font: 10px Georgia, Verdana, Arial, sans, sans serif;
}
#content strong {
font: 10px Verdana, Arial, sans, sans serif;
font-weight: bold;
margin-bottom: 3px;
margin-top: 0;
}
#footer {
text-align: center;
}
#footer p {
margin: 0;
}
table.news {
border-collapse: collapse;
padding: 0px;
}
td.news {
background-color: #888888;
border: 1px dotted #FFFFFF;
padding: 2px;
}
font.news {
color: #000;
}
hr.main {
background-color: #000;
height: 1px;
border: none;
}
input {
font-family: Verdana;
font-size: 10px;
}
select {
font-family: Verdana;
font-size: 10px;
}
a.boxed {
color: #000;
text-decoration: none;
display: block;
}
.boxtopl {
background: #265186;
border: 1px #000 solid;
text-align: center;
color: #000;
padding-top: 1px;
padding-bottom: 1px;
font: 10px Verdana, Arial, sans, sans serif;
}