* {
	margin: 0;
	padding: 0;
}

body {
	font: 12px/1.6 Arial, Helvetica, sans-serif;
	color: #5C5C5C;
}

#header {
	background: url(../images/bg.gif) repeat-x;
	height: 40px;
}

h1 {
	margin-left: 25px;
	text-indent: -4200px;
	float: left;
	background: url(../images/logo-history.gif) no-repeat;
	height: 40px;
	width: 162px;
}

h2 {
	font-weight: normal;
	font-size: 16px;
	padding-bottom: 10px;
}

.message {
	overflow: hidden;
	border-bottom: 1px solid #FAFAFA;
	padding: 3px 5px;
}

.message em {
	font-weight: bold;
	font-style: normal;
}

a {
	color: #DB536F;
	text-decoration: none;
	border-bottom: 1px dotted #CCC;
}

a:hover {
	border-bottom-style: solid;
	color: #86041E;
}

#content {
	width: 500px;
	margin: 0 auto;
}

#index {
	list-style-type: none;
	border-bottom: 1px solid #DBDBDB;
	padding: 15px 0 5px 0;
	margin-bottom: 15px;
}

#index li {
	width: 100px;
	text-align: center;
	float: left;
}

#index li a {
	display: block;
	border-bottom: none !important;
}


#index:after {
	content: ""; 
	display: block; 
	clear: both; 
	height: 0; 
	visibility: hidden;
}

#index { height: 1%; }
