<?php
/*** Configuration ***/

/* Site Conf */
$Configuration['site_name']  = 'RuneScape Help Editor';
$Configuration['site_url']   = 'https://2007rshelp.com';

/* DB Conf */
$Configuration['mysql_host'] = getenv('DB_HOST') ?: 'localhost';
$Configuration['mysql_user'] = getenv('DB_USER') ?: 'db_user';
$Configuration['mysql_pass'] = getenv('DB_PASS') ?: 'db_pass';
$Configuration['mysql_db']   = getenv('DB_NAME') ?: 'db_name';


// Online / Offline- Addition by Ben: 19 apr.
$Configuration['offline'] = FALSE;

/* Define Global Values */
define( 'MYSQL_HOST'	, $Configuration['mysql_host']	);
define( 'MYSQL_USER'	, $Configuration['mysql_user']	);
define( 'MYSQL_PASS'	, $Configuration['mysql_pass']	);
define( 'MYSQL_DB'		, $Configuration['mysql_db']	);
define( 'SITE_NAME'		, $Configuration['site_name']	);
define( 'SITE_URL'		, $Configuration['site_url']	);
define( 'OFFLINE'		, $Configuration['offline']		);
?>
